<h4>Camp noir</h4>


<!--Echiquier pour le camp noir-->
<table>
  <thead>
  <th>
    <tr *ngFor=" let i of numbers">
      <td>{{i}}</td> <br><br><br><br>
    </tr>
  </th>
  <!---colonne H-->
    <th>
      <tr>H</tr>
        <tr *ngFor=" let i of cases | slice:0:8">
            <div [ngClass]="{caseblanche: i.no_case%2, casenoire: !(i.no_case%2)}">
              <td class="cel" *ngIf="i.piece?.type==null" (click)="deplacement(i)"></td>
              <td class="cel" *ngIf="i.piece?.type!=null" (click)="deplacement(i)">
                <div [ngClass]="{pieceBlanche: i.piece.couleur.no_couleur==1, pieceNoire:i.piece.couleur.no_couleur==2}">
                  {{i.piece.type}}
                </div>
              </td>
          </div>
      </tr>
      <tr>H</tr>
    </th>
  <!---colonne G-->
    <th>
      <tr>G</tr>
      <tr *ngFor=" let i of cases | slice:8:16">
        <div [ngClass]="{casenoire: i.no_case%2, caseblanche: !(i.no_case%2)}">
          <td class="cel" *ngIf="i.piece?.type==null" (click)="deplacement(i)"></td>
          <td class="cel" *ngIf="i.piece?.type!=null" (click)="deplacement(i)">
            <div [ngClass]="{pieceBlanche: i.piece.couleur.no_couleur==1, pieceNoire:i.piece.couleur.no_couleur==2}">
              {{i.piece.type}}
            </div>
          </td>
        </div>
      </tr>
      <tr>G</tr>
    </th>
  <!---colonne F-->
    <th>
      <tr>F</tr>
      <tr *ngFor=" let i of cases | slice:16:24">
        <div [ngClass]="{caseblanche: i.no_case%2, casenoire: !(i.no_case%2)}">
          <td class="cel" *ngIf="i.piece?.type==null" (click)="deplacement(i)"></td>
          <td class="cel" *ngIf="i.piece?.type!=null" (click)="deplacement(i)">
            <div [ngClass]="{pieceBlanche: i.piece.couleur.no_couleur==1, pieceNoire:i.piece.couleur.no_couleur==2}">
              {{i.piece.type}}
            </div>
          </td>
        </div>
      </tr>
      <tr>F</tr>
    </th>
  <!---colonne E-->
    <th>
      <tr>E</tr>
      <tr *ngFor=" let i of cases | slice:24:32">
        <div [ngClass]="{casenoire: i.no_case%2, caseblanche: !(i.no_case%2)}">
          <td class="cel" *ngIf="i.piece?.type==null" (click)="deplacement(i)"></td>
          <td class="cel" *ngIf="i.piece?.type!=null" (click)="deplacement(i)">
            <div [ngClass]="{pieceBlanche: i.piece.couleur.no_couleur==1, pieceNoire:i.piece.couleur.no_couleur==2}">
              {{i.piece.type}}
            </div>
          </td>
        </div>
      </tr>
      <tr>E</tr>
    </th>
  <!---colonne D-->
    <th>
      <tr>D</tr>
      <tr *ngFor=" let i of cases | slice:32:40">
        <div [ngClass]="{caseblanche: i.no_case%2, casenoire: !(i.no_case%2)}">
          <td class="cel" *ngIf="i.piece?.type==null" (click)="deplacement(i)"></td>
          <td class="cel" *ngIf="i.piece?.type!=null" (click)="deplacement(i)">
            <div [ngClass]="{pieceBlanche: i.piece.couleur.no_couleur==1, pieceNoire:i.piece.couleur.no_couleur==2}">
              {{i.piece.type}}
            </div>
          </td>
        </div>
      </tr>
      <tr>D</tr>
    </th>
  <!---colonne C-->
    <th>
      <tr>C</tr>
      <tr *ngFor=" let i of cases | slice:40:48">
        <div [ngClass]="{casenoire: i.no_case%2, caseblanche: !(i.no_case%2)}">
          <td class="cel" *ngIf="i.piece?.type==null "(click)="deplacement(i)"></td>
          <td class="cel" *ngIf="i.piece?.type!=null" (click)="deplacement(i)">
            <div [ngClass]="{pieceBlanche: i.piece.couleur.no_couleur==1, pieceNoire:i.piece.couleur.no_couleur==2}">
              {{i.piece.type}}
            </div>
          </td>
        </div>
      </tr>
      <tr>C</tr>
    </th>
  <!---colonne B-->
    <th>
      <tr>B</tr>
      <tr *ngFor=" let i of cases | slice:48:56">
        <div [ngClass]="{caseblanche: i.no_case%2, casenoire: !(i.no_case%2)}">
            <td class="cel" *ngIf="i.piece?.type==null" (click)="deplacement(i)"></td>
            <td class="cel" *ngIf="i.piece?.type!=null" (click)="deplacement(i)">
              <div [ngClass]="{pieceBlanche: i.piece.couleur.no_couleur==1, pieceNoire:i.piece.couleur.no_couleur==2}">
                {{i.piece.type}}
              </div>
            </td>
        </div>
      </tr>
      <tr>B</tr>
    </th>
  <!---colonne A-->
    <th>
      <tr>A</tr>
      <tr *ngFor=" let i of cases | slice:56:64">
        <div [ngClass]="{casenoire: i.no_case%2, caseblanche: !(i.no_case%2)}">
          <td class="cel" *ngIf="i.piece?.type==null" (click)="deplacement(i)"></td>
          <td class="cel" *ngIf="i.piece?.type!=null" (click)="deplacement(i)">
            <div [ngClass]="{pieceBlanche: i.piece.couleur.no_couleur==1, pieceNoire:i.piece.couleur.no_couleur==2}">
              {{i.piece.type}}
            </div>
          </td>
          </div>
      </tr>
      <tr>A</tr>
    </th>
    <th>
      <tr *ngFor=" let i of numbers">
        <td>{{i}}</td> <br><br><br><br>
      </tr>
    </th>
  </thead>
</table>





<!--Si la méthode selectCaseDepart(i) est exécutée ... -->
<!--
<div *ngIf="selectCaseDepart(i)==true;then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <td class="cel" *ngIf="i.piece?.type==null" (click)="selectCaseDestination(i)"></td>
  <td class="cel" *ngIf="i.piece?.type!=null" (click)="selectCaseDestination(i)">
    <div [ngClass]="{pieceBlanche: i.piece.couleur.no_couleur==1, pieceNoire:i.piece.couleur.no_couleur==2}">
      {{i.piece?.type!}}
    </div>
</ng-template>
-->
<!--Sinon : Si la méthode selectCaseDepart(i) n'est pas exécutée ... -->
<!--
<ng-template #elseBlock>
  <td class="cel" *ngIf="i.piece?.type==null" (click)="selectCaseDepart(i)"></td>
  <td class="cel" *ngIf="i.piece?.type!=null" (click)="selectCaseDepart(i)">
    <div [ngClass]="{pieceBlanche: i.piece.couleur.no_couleur==1, pieceNoire:i.piece.couleur.no_couleur==2}">
      {{i.piece?.type!}}
    </div>
</ng-template>
-->
